[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch_cpu"

[packages]
requests = "*"
torch = {version = "*", index = "pytorch_cpu"}
torchvision = {version = "*", index = "pytorch_cpu"}
torchaudio = {version = "*", index = "pytorch_cpu"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
